.carousel-container {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
  }

.img-container{
    padding: 10px;
    box-sizing: border-box;
}

.line-container{
  display: flex;
}

.dashed-line{
  font-size: 20px;
  margin-top: 16px;
}

.date-container{
  border-width: 2px;
  height: 60px;
  width: 170px;
  border-color: black;
  border-radius: 35px;
  border-style: solid;
  text-align: center;
  color: #082354;
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px; 
  margin-left: 0px;
}

.img-logo{
  width: 400px;
  height: 250px;
  border-radius: 20px;
}

.caption{
  margin-right: 30px;
  color: #0157F0;

}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 25px;
  line-height: 0.5;
  opacity: 0.9;
  color: white;
  margin-left: 10px;
}

.slick-prev {
  left: 10px !important;
  z-index: 2;
  font-size: 35px;
  line-height: 1.2;
}

.slick-next {
  right: 10px !important;
  z-index: 2;
  font-size: 35px;
  line-height: 1.2;
}




@media (max-width: 1024px) {
  .img-container {
    padding: 0 5px;
  }

  .date-container{
    padding: 12px;
  }

  .dashed-line{
    font-size: 20px;
    margin-top: 16px;
  }
}

@media (max-width: 600px) {
  .img-container {
    padding: 0 2px;
  }

  .date-container{
    padding: 12px;
  }
}